body{
    background-color: black;
    background-image: url(img/progr.jpg);
    background-size: contain;
}
.mainbody{
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
nav a{
    color: white;
    text-decoration: none;
    margin-left: 30;
    font-size: 25;
    transition: 0.3 ease;
}
.nav{
    margin-left: 800;
    margin-top: 20;
}
a:hover{
    border-bottom: 3px solid white;
}
nav a:hover,
.active{
    border-bottom: solid aqua;
    color: aqua;
}