body{
    background-image: url(img/progr.jpg);
    background-color: black;
    background-size: contain;
    
}
.wrapper{
    width: 500px;
    height: 300px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.637);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-left: 20px;
    color: white;
    margin-left: 50;
    margin-top: 50;
    font-weight: bolder;
}
h2{
    margin-left: 20px;
    font-size: 16;
    color: white;
    margin-left: 50px;
    font-weight: 60px;
}
.btn{
    width: 300px;
    height: 35;
    font-size: 18;
    font-weight: bold;
    margin-left: auto;
    border-radius: 7px;
    border: none;
    margin-right: auto;
    display: flex;
    padding: 5;
    padding-left: 75;
}
#input{
    margin-left: auto;
    height: 30;
    width: 300px;
    margin-bottom: 10;
    margin-right: auto;
    display: flex;
    outline: none;
}
.fa-arrow-rotate-left{
    font-size: 25;
    color: aliceblue;
}
.return{
 width: 35;
 height: 35;
 justify-content: center;
 display: flex;
 align-items: center;
 border-radius: 20px;
}
.return:hover{

}
